---
- name: Download vscode-cpptools
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.get_url:
    url: "https://github.com/microsoft/vscode-cpptools/releases/download/1.7.1/cpptools-linux.vsix"
    dest: "{{ main_user_dir }}"
    mode: "0644"
  tags:
    - cpp
- name: Create cpptools directory
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.file:
    path: "{{ main_user_dir }}/.cpptools/cpptools-linux"
    state: directory
    mode: "0755"
  tags:
    - cpp
- name: Extract cpptools
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.unarchive:
    src: "{{ main_user_dir }}/cpptools-linux.vsix"
    dest: "{{ main_user_dir }}/.cpptools/cpptools-linux"
  tags:
    - cpp
- name: Make cpptools an executable
  become: true
  ansible.builtin.file:
    src: "{{ main_user_dir }}/.cpptools/cpptools-linux/extension/debugAdapters/bin/OpenDebugAD7"
    dest: "/usr/local/bin/OpenDebugAD7"
    mode: a+x
    state: link
  tags:
    - cpp
- name: Create copy of json config
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.file:
    src: "{{ main_user_dir }}/.cpptools/cpptools-linux/extension/debugAdapters/bin/cppdbg.ad7Engine.json"
    dest: "{{ main_user_dir }}/.cpptools/cpptools-linux/extension/debugAdapters/bin/nvim-dap.ad7Engine.json"
    state: hard
    mode: "0644"
  tags:
    - cpp
- name: Cleanup
  become: true
  ansible.builtin.file:
    path: "{{ main_user_dir }}/cpptools-linux.vsix"
    state: absent
  tags:
    - cpp
