---
- name: Install zsh
  become: true
  apt: name=zsh
  tags:
    - zsh
- name: Remove existing configuration
  ansible.builtin.file:
    path: "{{ main_user_dir }}/.oh-my-zsh"
    state: absent
  tags:
    - zsh
- name: Install ohmyzsh
  become: true
  become_user: "{{ main_user }}"
  git:
    repo: https://github.com/robbyrussell/oh-my-zsh
    dest: "{{ main_user_dir }}/.oh-my-zsh"
    version: master
    mode: 0755
  tags:
    - zsh
- name: Install powelevel10k
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ main_user_dir }}/.oh-my-zsh/custom/themes/powerlevel10k"
    version: master
  tags:
    - zsh
- name: Install autocomplete
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.git:
    repo: https://github.com/marlonrichert/zsh-autocomplete
    dest: "{{ main_user_dir }}/.oh-my-zsh/custom/plugins/zsh-autocomplete"
    version: main
  tags:
    - zsh
- name: Install autosuggestions
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: "{{ main_user_dir }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    version: master
  tags:
    - zsh
- name: Install k
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.git:
    repo: https://github.com/supercrabtree/k
    dest: "{{ main_user_dir }}/.oh-my-zsh/custom/plugins/k"
    version: master
  tags:
    - zsh
- name: Install syntax highlight
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting
    dest:
      "{{ main_user_dir }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
    version: master
  tags:
    - zsh
- name: Install fzf tab
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.git:
    repo: https://github.com/Aloxaf/fzf-tab
    dest: "{{ main_user_dir }}/.oh-my-zsh/custom/plugins/fzf-tab"
    version: master
  tags:
    - zsh
- name: Install zsh vi mode
  become: true
  become_user: "{{ main_user }}"
  ansible.builtin.git:
    repo: https://github.com/jeffreytse/zsh-vi-mode
    dest: "{{ main_user_dir }}/.oh-my-zsh/custom/plugins/zsh-vi-mode"
    version: master
  tags:
    - zsh
- name: Change shell
  become: true
  ansible.builtin.command: chsh -s /usr/bin/zsh
  changed_when: false
  tags:
    - zsh
