[Desktop Entry]
Encoding=UTF-8
Name=dwm
Comment=Dynamic window manager
Exec=/usr/local/bin/dwm
TryExec=dwm
Type=XSession
Keywords=tiling;wm;windowmanager;window;manager;
